* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.crudApp {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
/* .listItems {
  display: flex;
  gap: 1rem;
}
.listItems li {
  list-style: none;
}
.listItems .link {
  cursor: pointer;
  color: white;
  text-decoration: none;
} */
/* .main {
  padding: 5rem 10rem;
  background-color: rgb(238, 225, 225);
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
} */

/* .footer {
  background-color: #aaa;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem;
}
.footer ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 1rem 2rem;
} */
